<a href="https://colab.research.google.com/github/naijacoderorg/lectures/blob/main/Tricky_one_liner_puzzles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some challenging little puzzles

Your goal is to find an input which makes the `sat` function (short for *satsify*) return `True`. Several of these puzzles involve [Python comprehensions](https://www.w3schools.com/python/python_lists_comprehension.asp). There are 30 puzzles
divided into 3 parts of 10 each. These puzzles can be quite tricky. You can save your own copy of this notebook, since it will take time.

Example:

```python
def sat(s: str):
  return s + ' world!' == 'Hello, world!'

```

Answer:
```python

sat('Hello,')
```

Corrections/feedback appreciated at wespeakpython@gmail.com

## Part 1/3

In [ ]:
def sat(s: str):
  return s.count('o') == 1000 and s.count('oo') == 0

In [ ]:
def sat(s: str):
  return s.count('o') == 1000 and s.count('oo') == 100 and s.count('ho') == 801

In [ ]:
def sat(li: list):
  return sorted(li) == list(range(999)) and all(li[i] != i for i in range(len(li)))

In [ ]:
def sat(li: list):
  return len(li) == 10 and li.count(li[3]) == 2

In [ ]:
def sat(li: list):
  return all([li.count(i) == i for i in range(10)])

In [ ]:
def sat(i: int):
  return i % 123 == 4 and i > 10 ** 10

In [ ]:
def sat(s: str):
  return str(8 ** 2888).count(s) > 8 and len(s) == 3

In [ ]:
def sat(ls: list):
  return ls[1234] in ls[1235] and ls[1234] != ls[1235]

In [ ]:
def sat(li: list):
  return ["The quick brown fox jumps over the lazy dog"[i] for i in li] == list("The five boxing wizards jump quickly")

In [ ]:
def sat(s: str):
  return s in str(8 ** 1818) and s == s[::-1] and len(s) > 11

## Part 2/3

In [ ]:
def sat(ls: list):
  return min(ls) == max(ls) == str(len(ls))

In [ ]:
def sat(li: list):
  return all(i + j == 9 for i, j in zip([4] + li, li)) and len(li) == 1000

In [ ]:
def sat(x: float):
  return str(x - 3.1415).startswith("123.456")

In [ ]:
def sat(li: list):
  return all([sum(li[:i]) == i for i in range(20)])

In [ ]:
def sat(li: list):
  return all(sum(li[:i]) == 2 ** i - 1 for i in range(20))

In [ ]:
def sat(s: str):
  return float(s) + len(s) == 4.5

In [ ]:
def sat(i: int):
  return len(str(i + 1000)) > len(str(i + 1001))

In [ ]:
def sat(ls: list):
  return [s + t for s in ls for t in ls if s != t] == 'berlin berger linber linger gerber gerlin'.split()

In [ ]:
def sat(li: list):
  return {i + j for i in li for j in li} == {0, 1, 2, 3, 4, 5, 6, 17, 18, 19, 20, 34}

In [ ]:
def sat(li: list):
  return all(j in {i - 1, i + 1, 3 * i} for i, j in zip([0] + li, li + [128]))

## Part 3/3

In [ ]:
def sat(li: list):
  return all(j in {i - 1, i + 1, 3 * i} for i, j in zip([0] + li, li + [128]))

In [ ]:
def sat(li: list):
  return all([li[i] != li[i + 1] for i in range(10)]) and len(set(li)) == 3

In [ ]:
def sat(s: str):
  return s[::2] in s and len(set(s)) == 5

In [ ]:
def sat(ls: list):
  return tuple(ls) in zip('dee', 'doo', 'dah!')

In [ ]:
def sat(li: list):
  return li.count(17) == 3 and li.count(3) >= 2

In [ ]:
def sat(s: str):
  return sorted(s) == sorted('Permute me true') and s == s[::-1]

In [ ]:
def sat(ls: list):
  return "".join(ls) == str(8 ** 88) and all(len(s) == 8 for s in ls)

In [ ]:
def sat(li: list):
  return li[li[0]] != li[li[1]] and li[li[li[0]]] == li[li[li[1]]]

In [ ]:
def sat(li: list):
  return all(i in range(1000) and abs(i - j) >= 10 for i in li for j in li if i != j) and len(set(li)) == 100

In [ ]:
def sat(l: list):
  return all(i in range(1000) and abs(i * i - j * j) >= 10 for i in l for j in l if i != j) and len(set(l)) > 995

In [ ]:
def sat(li: list):
  return all([123 * li[i] % 1000 < 123 * li[i + 1] % 1000 and li[i] in range(1000) for i in range(20)])